@media (max-width: 991px){
	.app_screen_inner::before {
		
		width: 59%;
		background-size: contain;
	}
}

@media (max-width: 575px){

	.app_screen_inner::before {
		display: none;
	}
	.app_screen_inner {
		margin-top: 0px;
	}
	.app_screen_area {
		padding: 100px 0px 100px 0px;
	}
	.app_screen_inner .app_screen_slider .owl-dots {
		bottom: -65px;
	}
}
